.payment-page-container {
  text-align: center;
  padding: 390px;
  height: 100%;
  background-image: url('./Picture/wall.jpg');
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titlep {
  font-size: 90px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2), 1px 1px 1px rgba(255, 255, 255, 0.2);
  font-family: 'Roboto';
  letter-spacing: 0.1rem;
  
}

.title2 {
  font-size: 35px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2), 1px 1px 1px rgba(255, 254, 254, 0.2);
  font-family: 'Roboto';
  letter-spacing: 0.1rem;
  
  
}

.qrcode-container {
  margin-top: 30px;
}

.qrcode-image {
  width: 560px;
  height: 790px;
  
}

.button {
  margin-top: 30px;
  background-color: #573a28; 
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding: 30px 60px; 
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  border-radius: 5px; 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.162), -1px -1px 3px rgba(0, 0, 0, 0.474);
}

.button:hover {
  background-color: #8b6e56;
}